    @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fredoka+One&family=Poppins:wght@300;400&display=swap');
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
    
    #jumbotron {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
    }
    
    h1 {
        font-family: 'Bungee', cursive;
    }
    
    h2 {
        font-family: 'Fredoka One', cursive;
        font-size: 2.5rem;
        letter-spacing: 1px;
    }
    
    P {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
    }
    
    .row {
        margin-bottom: 0;
    }
    
    #intro {
        margin-left: 8%;
        margin-top: 5%;
    }
    
    #vector {
        margin-right: 8%;
    }
    
    #btn {
        padding: 10px 40px;
        border-radius: 2em;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 1.2px;
        margin-right: 5%;
        margin-top: 5%;
        background-color: #0071bc;
    }
    
    #btn:hover {
        background-color: #2e3192;
    }
    
    #info {
        visibility: visible;
        z-index: -1;
    }
    
    #form {
        padding: 40px;
        height: 100%;
        border: 2px solid #0071bc;
        border-radius: 20px;
        overflow: hidden;
        visibility: hidden;
        bottom: -100vh;
    }